
body{
display:flex;
flex-direction: column;
height:100vh;
}

button:hover{
    background-color:LightSkyBlue;
}

header{
display:flex;
flex-direction:row;
flex-wrap: wrap;
background-color:Black;
justify-content:space-around;
width:100%;
height:25%;
align-items: center;
border:solid;
}

h2{
display:flex;
justify-content:center;
align-items:center;
width:25%;
color: black;
background: white;
border : solid;
height:75%;
color: black;
border:solid;
border-radius:8px;
}



header > button{
width:25%;
height:50%;
}

button{
background-color:white;
color: black;
border:solid;
border-radius:8px;
}

#interactive>button{
display:flex;
width:20%;
height:12%;
}

#interactive{
display:flex;
flex-direction:column;
margin:3%;
height: 70%;
width:100%;
align-items:center;
}



p{
display:flex;
justify-content:center;
}


#interactive>div{
display: flex;
flex-direction:row;
justify-content:center;
}


#buttons{
display:flex;
flex-direction:row;
align-items:center;
justify-content:space-around;
width:100%;
height:40%;
}


#tf{
display:flex;
flex-direction:row;
align-items:center;
justify-content:space-around;
width:80%;
height:25%;
}

#tf > button{
width:30%;
height:50px;
}

#tf_nw{
display:flex;
flex-direction:row;
align-items:center;
justify-content:space-around;
width:80%;
height:25%;
}


#tf_nw > button{
width:20%;
height:50px;
}

#signs{
display:flex;
flex-direction:row;
justify-content:space-around;
align-items:center;
width:80%;
height:60%;
}


#signs > div{
display:flex;
flex-direction:column;
justify-content:center;
height:100%;
width:30%;
}

#signs > div > button{

width:100%;
height:50%;
display:flex;
justify-content:center;
align-items:center;
}

#interactive >  #results{
display: flex;
flex-direction:column;
width:60%;
align-items:center;
}

#go{
display:flex;
justify-content:center;
align-items:center;
}