<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{{ url_for('static', filename='style_game.css') }}">
        <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
        <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
        <title>Document</title>

    </head>
    <body>
        <header>
            <button onclick="location.replace('/theory')" id = "theory">Теория</button>
             <h2>\(\sum\limits_{ {{ variable }} =1}^{\infty}{{getted_series}}\)<br></h2>
            <button id = "main_page" onclick="location.replace('/main')">На главный экран</button>
        </header>
        <div id = "interactive">
                <p id = "question"></p>
            <div id = "buttons">
                <div id = "tf">
                    <button onclick="try_to_ask_sign_3(0)">Да</button>
                    <button onclick="try_to_ask_sign_3(-1)">Нет</button>
                </div>
                <div id = "tf_nw">
                    <button id = "converg" onclick="try_to_ask_sign_3(1)">Да</button>
                    <button id = "not_work" onclick="try_to_ask_sign_3(0)">Не в этот раз</button>
                    <button id ="diverg" onclick="try_to_ask_sign_3(-1)">Нет</button>
                </div>
                <div id = "signs">
                    <div>
                        <button id = 'cauchy' onclick="try_to_ask_sign('cauchy')">Радикальный признак Коши</button>
                        <button id = 'dalamber' onclick="try_to_ask_sign('dalamber')">Признак Даламбера</button>
                    </div>
                    <div>
                        <button id = 'raabe' onclick="try_to_ask_sign('raabe')">Признак Раабе</button>
                        <button id = 'bertran' onclick="try_to_ask_sign('bertran')">Признак Бертрана</button>
                    </div>
                    <div>
                        <button id = 'integral' onclick="try_to_ask_sign('integral')">Интегральный признак</button>
                        <button id ='gauss' onclick="try_to_ask_sign('gauss')">Признак Гаусса</button>
                    </div>
                 </div>
                </div>
                <div id = "results">
                    <p id = "answer"></p>
                    <p id = "intermediate_result"></p>
                </div>
            <button id = "go" onclick="next_step_gen()">Дальше</button>
        </div>

    </body>
    <script src="{{ url_for('static', filename='web_interactive.js') }}"></script>

</html>