<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{{ url_for('static', filename='style_game.css') }}">
        <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
        <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
        <title>Document</title>

    </head>
    <body>
        <header>
        <h1>Проверяем: \({{getted_series}}\)<br></h1>
        </header>
        <div id = "interactiv">
                <div id = "signs">
                    <button onclick="res_generator(1)">Необходимое условие</button>
                    <button onclick="res_generator(2)">Радикальный признак Коши</button>
                    <button onclick="res_generator(3)">Признак Даламбера</button>
                    <button onclick="res_generator(4)">Признак Раабе</button>
                    <button onclick="res_generator(5)">Признак Бертрана</button>
                    <button onclick="res_generator(6)">Интегральный признак</button>
                    <button onclick="res_generator(7)">Радикальный признак Коши</button>
                 </div>
                <div id = "results">
                    <p id = "answer"></p>
                    <p id = "intermediate_result"></p>
                </div>
        </div>

    </body>
    <script>
        async function res_generator(way){
            let promise = await fetch('/solve',{
            'method': 'POST',
            'body': way
            });
            let result = await promise.json();
            console.log(result["answer"])
            console.log(result["intermediate_result"])
            answer.textContent = result["answer"]
            intermediate_result.textContent = result["intermediate_result"]
            MathJax.typeset()
        }
    </script>
</html>