<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <title>Document</title>
</head>
<body>
    <header>
        <button onclick="theory" id = "theory">Теория</button>
        <h2>Введите общий член ряда</h2>

    </header>
    <div id = "columns">
        <div id = clava>
            <div id = "row_1">
                <button id="sin" onclick = "global_row = insert(global_row, 'sin(▯)');update_global_row();">sin()</button>
                <button id="cos" onclick="global_row = insert(global_row, 'cos(▯)');update_global_row();" >cos()</button>
                <button id="tg" onclick="global_row = insert(global_row, 'tg(▯)');update_global_row();" >tg()</button>
            </div>
            <div id = "row_2">
                <button id="over" onclick = add_a_over_b()>\[{a}\over{b}\]</button>
                <button id="sqrt" onclick=add_a_sqrt() >\[\sqrt{a}\]</button>
                <button id="sqrt_n" onclick=add_a_n_sqrt() >\[\sqrt[n]{a}\]</button>
            </div>
            <div id = "row_3">
                <button id="ln" onclick = "global_row = insert(global_row, 'ln(▯)');update_global_row();">ln(▯)</button>
               <button id="power" onclick=add_a_power()>\[a^{n}\]</button>
                <button id="!" onclick="global_row =insert(global_row, '!▯');update_global_row();">!</button>
            </div>
            <div id="row_4">
                <button id="sh" onclick = "global_row =insert(global_row, 'sh(▯)');update_global_row();">sh()</button>
                <button id="ch" onclick="global_row =insert(global_row, 'ch▯)');update_global_row();">ch()</button>
                <button id="th" onclick="global_row =insert(global_row, 'th(▯)');update_global_row();">th()</button>
            </div>
        </div>
        <div id = "center_col">
        <form id = "sent" method = "post" >
            <p id = "row">▯</p>
            <input type="hidden" value="" id = "row_serv" name = "row_serv">
        </form>
            <p id = "mistake">{{mistake}}</p>
            <div id = "form_buttons">
                <button id = "form_sent" form = "sent"type = "submit" >Готово</button>
                <button id = "clear_all" onclick="clear_all()" >⭯</button>
            </div>

        </div>
        <div id = "instructions">
            <p>Привет, так как мой разраб немного расстроился из-за 5 по ммзи, то вместо курсора здесь ▯.
                <br> Для перемещения по строке используй стрелки <- и ->.
                <br> Для ввода мат-выражений используй следующие комбинации клавиш:<br>
                <br> ctrl + 6 =>  \(a^n\) <br>
                <br> ctrl + / => \(a\over{b}\) <br>
                <br> ctrl + 2 => \(\sqrt{a}\) <br>
            </p>
        </div>
    </div>
</body>
<script src="{{ url_for('static', filename='script.js') }}"></script>
<script>
</script>
</html>