<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{{ url_for('static', filename='style_theory.css') }}">
        <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
        <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
        <title>Document</title>

    </head>
    <body>
        <header>
            <button id = "main_page" onclick="location.replace('/main')">На главный экран</button>


            <button class="image-button" onclick="location.replace('/')" id = "user">⚒︎</button>
        </header>

    <div id = "signs">
        <div>
        <h3 onclick="hide_and_show('nth')">Необходимое условие</h3>
        <button onclick="hide_and_show('nth')">ᐯ</button>
        </div>
        <p id = "nth">
            Если ряд \(\sum_{n=1}^{\infty}{a_n}\) сходится, то выполняется следующее условие:  \(\lim\limits_{n\to\infty}{a_n} = 0\) \[\]
Ряд рсходится, если выполняется следующее условие   \(\lim\limits_{n\to\infty}{a_n} \neq 0\)
        </p>

        <hr size="2" color="black" width="100%">
         <div>
        <h3 >Обобщенный гармонический ряд</h3>
        <button onclick="hide_and_show('harm')">ᐯ</button>
        </div>
        <p id = "harm">
           Обобщенным гармоническим называют ряд вида: \(\sum_{n=1}^{\infty}{ {1}\over{n^\alpha} }\) \[ \]
Этот ряд сходится в случае, если: \( \alpha > 1 \) \[ \]
И расходится, если: \(\alpha \leq 1 \)
        </p>
        <hr size="2" color="black" width="100%">
         <div>
        <h3 onclick="hide_and_show('geom')">Геометрический ряд ряд</h3>
        <button onclick="hide_and_show('geom')">ᐯ</button>
        </div>
        <p id = "geom">
           Геометрическим называют ряд вида:\(\sum_{n=1}^{\infty}{q^n}\) \[ \]
Который расходится, если: \(q < 1 \) \[ \]
И сходится, если: \(q \geq 1 \)
        </p>
        <hr size="2" color="black" width="100%">
         <div>
        <h3 onclick="hide_and_show('coshi')" >Радикальный признак  Коши</h3>
        <button onclick="hide_and_show('coshi')">ᐯ</button>
        </div>
        <p id = "coshi">
 Дан ряд \(\sum_{n=1}^{\infty}{a_n}\) \[ \]
Пусть существует предел
\(\alpha = \lim\limits_{n\to\infty}{\sqrt[n]{a_n}}\)
Тогда ряд сходится, если
\(\alpha < 1 \) \[ \]
Расходится, если
\(\alpha > 1 \) \[ \]
И может как сходится, так и расходится, если
\(\alpha = 1 \)
, в этом случае требуется дополнительное исследование
        </p>
        <hr size="2" color="black" width="100%">
         <div>
        <h3 onclick="hide_and_show('dalamber')">Признак  Даламбера</h3>
        <button onclick="hide_and_show('dalamber')">ᐯ</button>
        </div>
        <p id = "dalamber">
Дан ряд \(\sum_{n=1}^{\infty}{a_n}\) \[\]
Если \(\lim\limits_{n\to\infty}{ {a_{n+1}}\over{a_n} } > 1\), то ряд расходится\[ \]
Если \(\lim\limits_{n\to\infty}{ {a_{n+1}}\over{a_n} } < 1\), то ряд сходится \[ \]
Если \(\lim\limits_{n\to\infty}{ {a_{n+1}}\over{a_n} } < 1\), то ряд сходится\[ \]
Если \(\lim\limits_{n\to\infty}{ {a_{n+1}}\over{a_n} } = 1\), то ряд может как сходится так и расходиться
        </p>
        <hr size="2" color="black" width="100%">
         <div>
        <h3 onclick="hide_and_show('cummer')">Признак  Куммера</h3>
        <button onclick="hide_and_show('cummer')">ᐯ</button>
        </div>
        <p id = "cummer">
\[(с_n)_{n=1}^{\infty}\]
\[\sum_{n=1}^{\infty}{ {1}\over{c_n} }\]
\[\sum_{n=1}^{\infty}{a_n}\]
\[(K_n)_{n=1}^{\infty}\]
\[K_n := c_n { {a_n}\over{a_{n+1} } } - c_{n+1}\]
\[\lim\limits_{n\to\infty}{K_n} = K\]
Если \(K > 0 \), то ряд сходится
Если \(K < 0 \), то ряд рассходится
        </p>
        <hr size="2" color="black" width="100%">
         <div>
        <h3 onclick="hide_and_show('raabe')">Признак  Раабе</h3>
        <button onclick="hide_and_show('raabe')">ᐯ</button>
        </div>
        <p id = "raabe">
\[\sum_{n=1}^{\infty}{a_n}\]
\[(R_n)_{n=1}^{\infty}\]
\[R_n = n ( { {a_n}\over{a_{n+1} } } - 1)\]
\[\lim\limits_{n\to\infty}{R_n} = R\]
Если \(R > 1 \), то ряд сходится
Если \(R < 1 \), тьо ряд рассходится
        </p>
        <hr size="2" color="black" width="100%">
         <div>
        <h3 onclick="hide_and_show('bertran')">Признак  Бертрана</h3>
        <button onclick="hide_and_show('bertran')">ᐯ</button>
        </div>
        <p id = "bertran">
\[\sum_{n=1}^{\infty}{a_n}\]
\[(B_n)_{n=1}^{\infty}\]
\[B_n = \ln{n} (n ( { {a_n}\over{a_{n+1} } } - 1) - 1)\]
Пусть существет предел \(\lim\limits_{n\to\infty}{B_n} = B\) \[ \]
Если \(B > 1 \), то ряд сходится \[ \]
Если \(B < 1 \), то ряд расходится
        </p>
        <hr size="2" color="black" width="100%">
         <div>
        <h3 onclick="hide_and_show('integral')">Интегральный признак Коши</h3>
        <button onclick="hide_and_show('integral')">ᐯ</button>
        </div>
        <p id = "integral">
\[f:[1, +\infty) -> \mathbb{R}_{+}\]
\[\sum_{n=1}^{\infty}{f(n)}\]
Если интеграл \(\int_{1}^{+\infty} f(x) dx\) сходится, то сходится и исходный ряд.
В противном случае ряд расходится
        </p>
        <hr size="2" color="black" width="100%">
         <div>
        <h3 onclick="hide_and_show('gauss')">Признак  Гаусса</h3>
        <button onclick="hide_and_show('gauss')">ᐯ</button>
        </div>
        <p id = "gauss">
\[\sum_{n=1}^{\infty}{a_n}\]
\[{ {a_n }\over{a_{n+1} } }\]
\[{ {a_n}\over{a_{n+1} } } = \lambda + { {\mu}\over{n} }  + O({ {1}\over{n^{1+\nu} } }), n \xrightarrow{} \infty\]
\[\lambda > 1\]
\[\lambda < 1\]
\[\lambda = 1\]
\\[\mu > 1\]
\[\mu \leq 1\]

        </p>
        <hr size="2" color="black" width="100%">
         <div>
        <h3 onclick="hide_and_show('leibnic')">Признак  Лейбница</h3>
        <button onclick="hide_and_show('leibnic')">ᐯ</button>
        </div>
        <p id = "leibnic">
 \[(a_n)_{n=1}^{\infty}\]
\[\lim\limits_{n\to\infty}{a_n} = 0\]
Если исходный ряд можно представить в виде \(\sum_{n=1}^{\infty}{ {(-1)^{ (n-1)} }{a_n} }\) и
\(\lvert \sum_{k=n}^{\infty}{ {(-1)^{(k-1)} }{a_k} } \rvert \leq a_n\), то ряд сходится
        </p>
        <hr size="2" color="black" width="100%">
         <div>
        <h3 onclick="hide_and_show('dirihle')">Признак Дирихле</h3>
        <button onclick="hide_and_show('dirihle')">ᐯ</button>
         </div>
        <p id = "dirihle">
  Если последовательность \((a_n)_{n=1}^{\infty}\) ограничена и ряд
\(\sum_{n=1}^{\infty}{b_n}\) сходится, то сходится и ряд
\(\sum_{n=1}^{\infty}{ {a_n}{b_n} }\)

        </p>
        <hr size="2" color="black" width="100%">
         <div>
        <h3 onclick="hide_and_show('abel')">Признак Абеля</h3>
        <button onclick="hide_and_show('abel')">ᐯ</button>
         </div>
        <p id = "abel">
     Если последовательность \((a_n)_{n=1}^{\infty}\) сходится к нулю и последовательность частичных сумм ряда
\(\sum_{n=1}^{\infty}{b_n}\) ограничена, то ряд
\(\sum_{n=1}^{\infty}{ {a_n}{b_n} }\) сходится
        </p>
        <hr size="2" color="black" width="100%">
    </div>

</body>
<script>

    function hide_and_show(elem_to_change){
        var obj1 = document.getElementById(elem_to_change);
        if (obj1.style.display == 'none') {
        document.getElementById(elem_to_change).style.display = "block";
        }
        else{
        document.getElementById(elem_to_change).style.display = "none";
        }
    }

</script>
</html>